//Lets select colors for each team
 $RCB : rgb(202, 3, 8);
 $RPS : rgb(171, 56, 137);
 $KKR : rgb(58, 23, 98);
 $MI : rgb(0, 142, 214);
 $GL : rgb(250, 216, 54);
 $DD : rgb(44, 51, 98);
 $SRH : rgb(237, 66, 34);
 $KXIP : rgb(215, 26, 36);
 $textBlue : #25467c;

 $teams: (
 ("RCB", lighten($RCB, 30%), lighten($RCB, 0%), "147px 143px"),
 ("RPS", lighten($RPS, 30%), lighten($RPS, 0%), "66px -18px"),
 ("KKR", lighten($KKR, 30%), lighten($KKR, 0%), "-95px -95px"),
 ("MI", lighten($MI, 30%), lighten($MI, 0%), "144px -95px"),
 ("GL", lighten($GL, 10%), lighten($GL, 0%), "-14px -95px"),
 ("DD", lighten($DD, 30%), lighten($DD, 0%), "-14px 143px"),
 ("SRH", lighten($SRH, 30%), lighten($SRH, 0%), "66px 143px"),
 ("KXIP", lighten($KXIP, 30%), lighten($KXIP, 0%), "144px -18px"),
);

header {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 40px;
}

rect {
  height: 0px;
  cursor: pointer;
  &.current {
    height: 10px;
  }
  &.winner {
      border-radius: 10px;
  }
}

 p {
     color:red;
 }
 .chart text {
     fill: $textBlue;
     font: 10px sans-serif;
     /*text-anchor: end;*/
 }

 .logo {
     display: inline-block;
     width: 50px;
     height: 50px;
     background: url('../img/team-logos-2016.png');
 }
@each $team in $teams {
  .#{nth($team, 1)} {
    fill: #{nth($team, 2)};
    &.current {
      fill: #{nth($team, 3)};
    }
    &.lighten {
        opacity: 0.2;
    }
  }
  .#{nth($team, 1)}path {
    stroke: #{nth($team, 2)};
    &.lighten {
        opacity: 0.2;
    }
  }
  .#{nth($team, 1)}logo {
    background-position: #{nth($team, 4)};
    border-bottom: 10px solid #{nth($team, 2)};
  }
}
 .panel {
     padding: 30px 10px;
     margin-top: 60px
 }
 aside {
   position: fixed;
   left: 0px;
   top: 106px;
   ul {
     list-style: none;
     li {
       color: lighten($textBlue, 50%);
       font-weight: bold;
       margin: 32px 0;
     }
   }
 }
 .team-logos {
    float:right;
 }

 body {
    color: $textBlue;
 }
 footer a{
    float: right;
 }
